<div id="user_edit_view">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9 col-lg-6">
        <%= render "form", user: @user %>
      </div>
    </div>
  </div>
</div>