<div id="flash_container">
  <% flash.each do |name, msg| %>
    <div id=<%= "flash_#{name}" %> class=<%= "alert-#{name}" %>>
      <div class="container">
        <div class="row">
          <h5>
            <%= msg %>
          </h5>
        </div>
      </div>
    </div>
  <% end %>
</div>