@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/fonts/glyphicons-halflings-regular.eot');
  src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

img {
  border: solid 1px #eee;
}

.no-border {
  border: none;
}

.circle {
  border-radius: 50%;
}

.error_explanation {
  color: red;
}

#header {
  background-color: #333;
  #avatar {
    margin: -12px 5px -12px 0;
    border-radius: 16px;
  }
}

#footer {
  background-color: #333;

  * {
    color: #fff;
  }
}

#main_content {
  min-height: 800px;
}
